.container {
  width: 95%;

  margin: 10px auto;
}

.userName {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 300px)); */
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.userInfo {
  padding: 10px;
  gap: 10px;
  display: grid;
  align-items: middle;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit);
}

.previousSubmissions {
  margin: 20px;
  padding: 10px;
}

.giContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 10px; */
}
.textField {
  width: 100%;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.tableContainer {
  margin: 10px 0px;
}
