.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  height: 100%;
  margin: 0px 15px;
}

.inputFields {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
